:root {
    --primary-color: #FE6100;
    --secondary-color: #009DFF;
    --white: #fff;
}

body {
    margin: 0px;
    padding: 0px;
    height: 85vh;
}


header {
    background-color: var(--primary-color) ;
    color: var(--white);
    min-width: 100%;
    min-height:50px;
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    display: block;
    align-self: center;
    font-size: large;
    padding: 5px;
}

.flex {
    display: flex;
}

main {
    background-color: #f9bb95;
    margin: 0px;
    display: flex;
    flex-flow: column;
    padding: 15px;
    min-height:100%;    
}

.market-container {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center; 
  align-content: space-around;
}

/* Card Styling */
.card-body {
  padding: 10px;
}

.card {
    background-color: var(--white);
    margin: 10px;
    width: 80%;
    border-radius: 10px;  
    padding: 0px;
    align-self: center;
}

.market-card {
  background-color: var(--white);
  margin: 10px;
  border-radius: 10px;  
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 300px;
}

.card-header{
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding: 5px 10px;
  margin: 0px;
  color: white;
  align-self: flex-start;
  
}

.card-footer{
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 15px 10px 5px 10px;
  margin: 0px;
  color: #000;
  background-color:#eee;
  text-align: center;
  align-self: flex-end;
  
}

/* Footer */

footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin: 0px;
}